html{
    background-color: black;
    font-family: Verdana;
    text-align:center;
}

h1{
    font-size: 50px;
    font-weight: normal;
    color:white;
    text-align: center;
}

h2{
    font-weight: 300;
    font-size: 42px;
    color: white;
}

a{
    font-size: 16px;
    color: aquamarine;
}

p{
    font-size: 21px;
    color:gray;
}

.copyright{
    text-align: right;
}